<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="IronMan Auotmation Test Suite">
	<test name="IronMan Auotmation Tests">
		<classes>
			<class name="com.curaesoft.qa.selenium.tests.LoginPageTest" />
			<class name="com.curaesoft.qa.selenium.tests.AdmissionPageTest" />
			<class name="com.curaesoft.qa.selenium.tests.ProfilePageTest" />
		</classes>
	</test>
</suite>